@charset "UTF-8";

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'nav main'
    'rodape rodape';
}

.grid div:nth-child(1) {
    background-color: red;
    grid-area: header;
}
.grid div:nth-child(2) { 
    background-color: blue;
    grid-area: nav;
}
.grid div:nth-child(3) {
    background-color: gray;
    grid-area: main;
}
.grid div:nth-child(4) {
    background-color: green;
    grid-area: rodape;
}